@import "tailwindcss";
@import url('https://googleapis.com');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Mulish', var(--font-geist-sans); /* Đưa Mulish làm font mặc định của Tailwind luôn */
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Mulish, Helvetica, sans-serif;
  letter-spacing:-0.5px
}
